* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
    background-size: cover;
    color: blue;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right, #ff0000, #ff5e00, #ffa200);
    height: 100vh;
}